.node circle {
	fill: rgb(247, 106, 214);
	stroke: rgb(184, 37, 81);
	stroke-width: 1.5px;
}
.allWision {
  display: flex;
}

.node text {
	font-size: 11px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: black;
	fill: black;
}

.node {
	cursor: pointer;
}

path.link {
	fill: none;
	stroke: #2593B8;
	stroke-width: 1.5px;
}

body {
	background-color: white;
	overflow: hidden;
}

span {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #F4F4F4;
	text-shadow: 0 1px 4px black;
	float: right;
}
.block {
  display: inline-block;
  background-color: whitesmoke;
  color: black;
}
.wision-node {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}
.wision-right {
	padding-left: 30px;
	padding-right: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.wision-right:hover {
	background-color: gainsboro;
}
.button {
	position: absolute;
	background-color: white;
	border: 1px solid black;
	margin-left: 250px;
}
.button:hover {
	background-color: black;
	border: 1px solid black;
	color: white;
}
.button-two{
	border-top: 1px solid hotpink;
  border-bottom: 1px solid hotpink;
  text-align: center;
}
.background {
  background-color: whitesmoke;
  padding-bottom: 600px;
}